.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Libre+Bodoni:ital@1&family=Montserrat:wght@600&family=Open+Sans:wght@300&display=swap");

/* font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Libre+Bodoni:ital@1&family=Montserrat:wght@600&family=Open+Sans:wght@300&display=swap");

/* font-family: 'Open Sans', sans-serif; */

body {
  margin: 0;
  background-color: #000000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858;
  height: 20vh;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .container1 {
  background-color: #000000;
  background-image: url("../assets/images/loading-gif.gif");
  background-size: contain;
  color: white;
  height: 100vh;
  width: 100%;
} */

.container1 {
  z-index: 3;
  background-image: url("../assets/images/loading-gif.gif");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  margin: calc(100vh / 2 - 60px / 2) auto;
}

/* NAVIGATION  */
.navigationDisplay {
  height: 100vh;
  width: 16.66%;
  float: left;
  background-color: #3f403d;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.navigationHide {
  height: 100vh;
  width: 16.66%;
  float: left;
  background-color: #3f403d;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.navToggle {
  display: none;
}

.nextBtn,
.nextBtn1,
.nextBtn2,
.nextBtn3,
.nextBtn4 {
  display: none;
}

.profileDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profileContainer .profilePicture {
  max-width: 200px;
  min-width: 100px;
  width: 100%;
  height: auto;
  /* margin-top: 30px; */
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.nameContainer {
  text-align: center;
  color: white;
}

.pName {
  font-family: "Montserrat", sans-serif;
  font-size: large;
  margin: 0;
  margin-top: 10px;
}

.tName {
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  margin: 0;
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.navItems a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.navItems a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navFooter {
  color: white;
  background-color: #828380;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid white;
  padding-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: small;
  width: 100%;
}

.reactLink {
  color: white;
}

.copyRight {
  text-align: center;
  margin: 0;
}

.createdWith {
  margin: 0;
  margin-bottom: 10px;
}

.container {
  height: 100vh;
  width: 83.33%;
  margin-left: 16.66%;
}

/* MEDIA QUERY FOR NAVIGATION */

@media only screen and (max-width: 768px) {
  .navigationDisplay {
    width: 60%;
    opacity: 1;
    float: right;
    position: fixed;
    right: 0;
    z-index: 2;
  }

  .navToggle {
    display: block;
    position: fixed;
    width: 50px;
    height: 30px;
    border: none;
    background: none;
    z-index: 99;
    top: 10px;
    right: 8px;
  }

  .toggleIcon {
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
  }

  .nextBtn {
    display: block;
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 1rem;
    width: 60px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nextBtn1 {
    display: block;
    float: right;
    position: relative;
    z-index: 1;
    right: 10px;
    bottom: -3rem;
    width: 60px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nextBtn2 {
    display: block;
    float: right;
    /* position: relative; */
    z-index: 1;
    right: 15px;
    bottom: 10px;
    width: 60px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    /* color: #23ecfd; */
  }

  .nextBtn3 {
    display: block;
    position: relative;
    float: right;
    bottom: 2rem;
    right: 30px;
  }

  .nextBtn4 {
    display: block;
    position: relative;
    float: right;
    bottom: 10px;
    right: 10px;
  }

  .toggleIcon4 {
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
  }

  .nextBtnContainer {
    height: 5vh;
  }
  .profilePicture {
    position: relative;
    /* top: 60px; */
  }

  .navItems {
    font-size: 1.3rem;
  }

  .container1 {
    background-size: contain;
  }
}

/* NEW LANDING PAGE TEST */

.landing2Main {
  min-height: 100vh;
  margin-left: 16.66%;
  width: 83.33%;
  color: white;
}
.landingSection {
  display: flex;
  flex-direction: row;
}

.intro {
  height: 100vh;
  width: 40%;
  /* background-color: #116149; */
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introTitle {
  font-size: 3rem;
  text-shadow: 5px 5px 10px rgb(62, 62, 62);
  z-index: 1;
}

.introTitle2 {
  font-size: 2.5rem;
  text-shadow: 5px 5px 10px rgb(62, 62, 62);
}
.sideImage {
  /* min-height: 100vh; */
  width: 60%;
  /* background-color: #23ecfd; */
}

.sideImageContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gifImage {
  /* position: absolute; */
  object-fit: contain;
  overflow: hidden;
}

.mleft {
  margin-left: 5rem;
}

.projectBtn {
  padding: 1rem 2rem;
  border-radius: 1.8rem;
  font-size: 1rem;
  font-weight: bolder;
  background: none;
  color: white;
  border: 2px solid white;
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
}

.projectBtn:hover {
  background-color: white;
  /* border-color: black; */
  color: black;
  cursor: pointer;
}

.socialIco {
  font-size: 2.1rem;
  color: white;
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .landing2Main {
    width: 100%;
    height: 100vh;
    margin-left: 0;
  }

  .landingSection {
    flex-direction: column-reverse;
  }

  .introTitle {
    font-size: 2.2rem;
  }

  .sideImage {
    height: 50vh;
    width: 100%;
  }
  .sideImageContainer {
    height: 50vh;
  }
  .intro {
    width: 100%;
    height: auto;
  }
  .mleft {
    margin-left: 0;
    text-align: center;
  }
  .btnContainer {
    text-align: center;
  }
}

/* ABOUT PAGE */

.aboutMain {
  min-height: 100vh;
  width: 83.33%;
  margin-left: 16.66%;
  background-color: #000000;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.aboutHeader {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  /* background-color: gray; */
}
.aboutHeaderTitle {
  width: 80%;
  text-align: start;
}

.aboutSection {
  width: 100%;
  height: 70vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* margin-top: 10vh; */
}

.aboutContent {
  margin-top: 20px;
  width: 80%;
  font-size: 1.3rem;
}

.teckstacksIcon {
  position: relative;
  top: 2px;
}

.htmlIcon {
  color: #fc7249;
}

.cssIcon {
  color: #4282ff;
}
.jsIcon {
  color: #feec70;
}

.mysqlIcon {
  color: #5490c4;
}

.dbIcon {
  color: #116149;
}

.expIcon {
  color: #7e7e7e;
}

.reactIcon {
  color: #23ecfd;
}

.nodeIcon {
  color: #63a85a;
}

.bsIcon {
  color: #8512f7;
}

/* ANIMATION FOR ABOUT PAGE */

.animateContent1 {
  position: relative;
  animation-name: content1;
  animation-duration: 0.3s;
}

.animateContent2 {
  position: relative;
  animation-name: content2;
  animation-duration: 0.6s;
}

.animateContent3 {
  position: relative;
  animation-name: content3;
  animation-duration: 0.9s;
}

/* @keyframes content1 {
  0% {
    left: -100px;
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
    left: 0px;
  }
}

@keyframes content2 {
  0% {
    right: -100px;
  }
  25% {
    right: -100px;
  }
  50% {
  }
  75% {
  }
  100% {
    right: 0px;
  }
}

@keyframes content3 {
  0% {
    left: -100px;
  }
  25% {
    left: -100px;
  }
  50% {
    left: -100px;
  }
  75% {
  }
  100% {
    left: 0px;
  }
} */

/* MEDIA QUERY FOR ABOUT PAGE */
@media only screen and (max-width: 768px) {
  .aboutMain {
    min-height: 100vh;
    width: 100%;
    margin-left: 0;
    /* background-color: #3f403d; */
    text-align: justify;
  }

  .aboutHeader {
    height: 16vh;
    align-items: end;
  }
  .aboutSection {
    margin-top: 0;
  }

  .aboutContent {
    height: 84vh;
    font-size: 1.1em;
  }

  .aboutHeaderTitle {
    text-align: center;
  }
}

/* PROJECTS  */

.projectsMain {
  height: auto;
  width: 83.33%;
  margin-left: 16.66%;
  background-color: #000000;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.projectsHeader {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 3rem;
  /* background-color: gray; */
}
.projectsHeaderTitle {
  width: 84%;
  text-align: start;
}

.projectsSection {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2%;
  column-gap: 3%;
  /* overflow-y: auto; */
}

.projectsCard {
  height: 320px;
  width: 40%;
  margin-top: 30px;
  /* background-color: #23ecfd; */
  color: white;
  border-radius: 10px;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.projectImage1 {
  /* margin-top: 10px; */
  width: 100%;
  height: 235px;
  border-radius: 5px;
}

.projectTitle {
  width: 100%;
  text-decoration: underline;
  color: white;
  display: flex;
  justify-content: space-between;
  text-shadow: 5px 5px 10px black;
  font-size: 1.2rem;
}

.projectsDetail {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

/* MEDIA QUERY FOR PROJECTS PAGE */
@media only screen and (max-width: 768px) {
  .projectsMain {
    width: 100%;
    height: max-content;
    margin-left: 0;
  }
  .projectsHeader {
    height: 16vh;
    align-items: end;
  }

  .projectsHeaderTitle {
    text-align: center;
  }

  .projectsSection {
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    /* overflow-y: auto; */
  }

  .projectsCard {
    width: 90%;
    margin: 10px;
    margin-top: 30px;
  }

  .bottomBorder {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
}

/* TECH STACKS PAGE */

.techstacksMain {
  height: 100vh;
  width: 83.33%;
  margin-left: 16.66%;
  background-color: #000000;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.techstacksHeader {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 3rem;
  /* background-color: gray; */
}
.techstacksHeaderTitle {
  width: 80%;
  text-align: start;
}

.techstacksSection {
  width: 100%;
  height: 80vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 10vh; */
}

.programmingLanguages {
  height: 18vh;
  /* background-color: white; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.frontendFrameworks {
  height: 18vh;
  /* background-color: rgb(60, 10, 10); */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.backendFrameworks {
  height: 18vh;
  /* background-color: white; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dataBases {
  height: 18vh;
  /* background-color: rgb(138, 75, 75); */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.techstacksTitle {
  font-family: "Montserrat", sans-serif;
}

.techstacksIcon {
  font-size: 4.5rem;
  margin-right: 30px;
  text-shadow: 5px 5px 10px white;
}

/* MEDIA QUERY FOR TECH STACKS PAGE */
@media only screen and (max-width: 768px) {
  .techstacksMain {
    width: 100%;
    margin-left: 0;
  }

  .techstacksHeader {
    height: 16vh;
  }

  .techstacksHeaderTitle {
    font-size: 2.7rem;
    text-align: center;
  }

  .programmingLanguages {
    width: 90%;
  }

  .frontendFrameworks {
    width: 90%;
  }

  .backendFrameworks {
    width: 90%;
  }

  .dataBases {
    width: 90%;
  }

  .techstacksTitle {
    text-align: center;
  }

  .techstacksIcon {
    margin: 0;
  }

  .techstacksContainer {
    display: flex;
    justify-content: space-evenly;
  }
}

/* CONTACTS PAGE */

.contactsMain {
  height: 100vh;
  width: 83.33%;
  margin-left: 16.66%;
  background-color: #000000;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.contactsHeader {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 3rem;
  /* background-color: gray; */
}
.contactsHeaderTitle {
  width: 80%;
  text-align: start;
}

.contactsSection {
  width: 100%;
  height: 80vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.contactDetails {
  width: 40%;
  height: 80vh;
  /* background-color: gray; */
}

.contactForms {
  width: 40%;
  height: 80vh;
  color: white;
}

.inputHeaderContainer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
.inputHeader {
  color: white;
  font-size: 1.6rem;
  width: 80%;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.formInput {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inputBox {
  height: 40px;
  width: 80%;
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
  background-color: black;
  color: white;
  outline: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

.commentBox {
  height: 100px;
  width: 80%;
  border-radius: 7px;
  outline: none;
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.submitBtn {
  width: 80%;
  height: 40px;
  border-radius: 7px;
  border: 1px solid white;
  background-color: black;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.submitBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border-color: black;
}

.submitBtn:active {
  background-color: black;
  color: white;
  border-color: white;
  transition-duration: 0.1s;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 70vh;
}

.contactInfo {
  display: flex;
  flex-direction: row;
}

.contactInfoIcon {
  font-size: 1.4rem;
  margin-right: 10px;
}
.contactInfoText {
  margin: 0;
}

.contactInfoText a {
  text-decoration: none;
  color: white;
}

.contactHeaderContainer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
}
.contactHeader {
  color: white;
  font-size: 1.6rem;
  width: 100%;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

/* MEDIA QUERY FOR CONTACTS PAGE */
@media only screen and (max-width: 768px) {
  .contactsMain {
    /* min-height: auto; */
    height: auto;
    width: 100%;
    margin-left: 0;
  }

  .contactsHeader {
    height: 16vh;
    display: flex;
  }

  .contactsHeaderTitle {
    font-size: 2.7rem;
    text-align: center;
  }

  .contactsSection {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactDetails {
    width: 90%;
    height: auto;
    /* background-color: gray; */
  }

  .contactForms {
    width: 90%;
    height: 80vh;
    color: white;
  }

  .contactHeaderContainer {
    justify-content: center;
  }

  .contactHeader {
    text-align: center;
  }

  .inputHeader {
    text-align: center;
  }

  .contactInfoContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contactInfo {
    margin-top: 10px;
  }
}
