.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Libre+Bodoni:ital@1&family=Montserrat:wght@600&family=Open+Sans:wght@300&display=swap");

/* font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Libre+Bodoni:ital@1&family=Montserrat:wght@600&family=Open+Sans:wght@300&display=swap");

/* font-family: 'Open Sans', sans-serif; */

body {
  margin: 0;
}

/* NAVIGATION  */
.navigationDisplay {
  height: 100vh;
  width: 16.66%;
  float: left;
  background-color: #3f403d;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.navigationHide {
  height: 100vh;
  width: 16.66%;
  float: left;
  background-color: #3f403d;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.navToggle {
  display: none;
}

.nextBtn,
.nextBtn1 {
  display: none;
}

.profilePicture {
  max-width: 200px;
  min-width: 100px;
  width: 100%;
  height: auto;
  margin-top: 30px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.nameContainer {
  text-align: center;
  color: white;
}

.pName {
  font-family: "Montserrat", sans-serif;
  font-size: large;
  margin: 0;
  margin-top: 10px;
}

.tName {
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  margin: 0;
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.navItems a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.navItems a:hover {
  text-decoration: underline;
}

.navFooter {
  color: white;
  background-color: #828380;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid white;
  padding-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: small;
  width: 100%;
}

.reactLink {
  color: white;
}

.copyRight {
  text-align: center;
  margin: 0;
}

.createdWith {
  margin: 0;
  margin-bottom: 10px;
}

.container {
  height: 100vh;
  width: 83.33%;
  margin-left: 16.66%;
}

/* MEDIA QUERY FOR NAVIGATION */

@media only screen and (max-width: 600px) {
  .navigationDisplay {
    width: 70%;
    opacity: 0.9;
  }

  .navToggle {
    display: block;
    position: fixed;
    width: 50px;
    height: 30px;
    border: none;
    background: none;
    z-index: 99;
    top: 10px;
    left: 8px;
  }

  .toggleIcon {
    width: 35px;
    height: 35px;
    color: white;
  }

  .nextBtn {
    display: block;
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 40px;
    background: none;
    border: none;
  }

  .nextBtn1 {
    display: block;
    float: right;
    position: relative;
    z-index: 1;
    right: 10px;
    bottom: -70px;
    width: 60px;
    height: 40px;
    background: none;
    border: none;
  }
  .profilePicture {
    position: relative;
    top: 60px;
  }

  .navItems {
    font-size: 1.3rem;
  }
}

/* LANDING PAGE */

.landingMain1 {
  height: 100vh;
  margin-left: 16.66%;
  width: 83.33%;
  background-image: url("../assets/images/bg2.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: start;
}

.landingMain2 {
  height: 100vh;
  margin-left: 16.66%;
  width: 83.33%;
  background-image: url("../assets/images/bg1.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: start;
}

.introContainer {
  /* color: white; */
  margin: 0;
  width: 80%;
  display: flex;
  margin-left: 70px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-shadow: 5px 5px 10px black;
}

.introContainer span {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-left: 20px;
  animation-name: intro;
  animation-duration: 1s;
}

/* @keyframes intro {
  0% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
} */

@media only screen and (max-width: 600px) {
  .landingMain1,
  .landingMain2 {
    width: 100%;
    margin-left: 0px;
  }

  .introContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    margin: auto;
  }
}

/* ABOUT PAGE */

.aboutMain {
  height: 100vh;
  width: 83.33%;
  margin-left: 16.66%;
  background-color: #000000;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.aboutHeader {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  /* background-color: gray; */
}
.aboutHeaderTitle {
  width: 80%;
  text-align: start;
}

.aboutSection {
  width: 100%;
  height: 70vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* margin-top: 10vh; */
}

.aboutContent {
  margin-top: 20px;
  width: 80%;
  font-size: 1.3rem;
}

.teckstacksIcon {
  position: relative;
  top: 2px;
}

.htmlIcon {
  color: #fc7249;
}

.cssIcon {
  color: #4282ff;
}
.jsIcon {
  color: #feec70;
}

.mysqlIcon {
  color: #5490c4;
}

.dbIcon {
  color: #116149;
}

.expIcon {
  color: #7e7e7e;
}

.reactIcon {
  color: #23ecfd;
}

.nodeIcon {
  color: #63a85a;
}

/* ANIMATION FOR ABOUT PAGE */

.animateContent1 {
  position: relative;
  animation-name: content1;
  animation-duration: 0.3s;
}

.animateContent2 {
  position: relative;
  animation-name: content2;
  animation-duration: 0.6s;
}

.animateContent3 {
  position: relative;
  animation-name: content3;
  animation-duration: 0.9s;
}

/* @keyframes content1 {
  0% {
    left: -100px;
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
    left: 0px;
  }
}

@keyframes content2 {
  0% {
    right: -100px;
  }
  25% {
    right: -100px;
  }
  50% {
  }
  75% {
  }
  100% {
    right: 0px;
  }
}

@keyframes content3 {
  0% {
    left: -100px;
  }
  25% {
    left: -100px;
  }
  50% {
    left: -100px;
  }
  75% {
  }
  100% {
    left: 0px;
  }
} */

/* MEDIA QUERY FOR ABOUT PAGE */
@media only screen and (max-width: 600px) {
  .aboutMain {
    width: 100%;
    margin-left: 0;
    background-color: #3f403d;
    text-align: justify;
  }

  .aboutHeader {
    height: 16vh;
    align-items: end;
  }
  .aboutSection {
    margin-top: 0;
  }

  .aboutContent {
    height: 84vh;
    font-size: 1.2rem;
  }

  .aboutHeaderTitle {
    text-align: center;
  }
}

/* PROJECTS  */

.projectsMain {
  height: auto;
  width: 83.33%;
  margin-left: 16.66%;
  background-color: #000000;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.projectsHeader {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 3rem;
  /* background-color: gray; */
}
.projectsHeaderTitle {
  width: 84%;
  text-align: start;
}

.projectsSection {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2%;
  column-gap: 3%;
  /* overflow-y: auto; */
}

.projectsCard {
  height: 320px;
  width: 40%;
  margin-top: 30px;
  /* background-color: #23ecfd; */
  color: white;
  border-radius: 10px;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.projectImage1 {
  /* margin-top: 10px; */
  width: 100%;
  height: 235px;
  border-radius: 5px;
}

.projectTitle {
  width: 100%;
  text-decoration: underline;
  color: white;
  display: flex;
  justify-content: space-between;
  text-shadow: 5px 5px 10px black;
  font-size: 1.2rem;
}

.projectsDetail {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

/* MEDIA QUERY FOR PROJECTS PAGE */
@media only screen and (max-width: 600px) {
  .projectsMain {
    width: 100%;
    height: max-content;
    margin-left: 0;
  }
  .projectsHeader {
    height: 16vh;
    align-items: end;
  }

  .projectsHeaderTitle {
    text-align: center;
  }

  .projectsSection {
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    /* overflow-y: auto; */
  }

  .projectsCard {
    width: 90%;
    margin: 10px;
    margin-top: 30px;
  }

  .bottomBorder {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
}
